.mapContainer{
    width: 96%;
    height: 423px;
    position: relative;
}

.popup {  
    position: absolute;
    width: 50%;
    height: 75%;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
  }
  .info-container-map {
    display: flex;
    padding: 0px 0px 8px 0px;
}
.status-map {
  padding-right: 26px;
}
.MuiPaper-elevation1{
  box-shadow: none !important;
}
// .MuiCardHeader-action {
//   margin-right: -35px !important;
// }
// .MuiIconButton-root:hover {
//  background-color: transparent !important;
// }
// .MuiCardContent-root {
//   padding: 0px 16px 0px 16px !important;
// }
.gm-style .gm-style-iw-c {
  padding: 0 !important;
}