.rating_count{
    vertical-align: super;
    padding-left: 20px;
}
.rating_cont{
    padding: 20px;
}
.ratings {
    padding: 15px 0px 15px 0px;
}
.ratings_container{
    padding-bottom: 20px;
}
.comment_container{
    padding: 15px 0px 15px 0px;
    border-top: 1px solid;
}
.comment{
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid;
}
.star_rating{
    display: flex;
}
.bar{
    margin-left: -20px !important;
}
.MuiLinearProgress-colorSecondary {
    background-color: #d7d4c7 !important;
}
.MuiLinearProgress-barColorSecondary {
    background-color: gold !important;
}
.MuiLinearProgress-root{
    height: 20px !important;
    margin-bottom: 15px;
}