.OperationanTimings{

    &__wrapper{

       

        &_table-heading{
            font-size: 20px;
            font-weight: 600;

        }
        &_table{
            display: flex;
            justify-content: start;
            border-radius: 10px!important;

            &_left{
                width: 45%;
                margin: 0 auto;
                margin-top: 35px;
            }
            &_right{
                width: 45%;
                margin: 0 auto;
                margin-top: 35px;
            }

        }

    }
}